---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { cardListStyle } from "./index.css";

let posts = await Astro.glob("./posts/*.md");

if (import.meta.env.PROD) {
  posts = posts.filter((post) => !post.frontmatter.draft);
}

posts.sort(
  (a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date)
);
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Home</h1>
    <ul class={cardListStyle}>
      {
        posts.map((post) => (
          <Card
            href={post.url!}
            title={post.frontmatter.title}
            digest={post.frontmatter.digest}
            date={post.frontmatter.date}
          />
        ))
      }
    </ul>
  </main>
</Layout>
