---
import "sakura.css/css/sakura-earthly.css";
// import 'sakura.css/css/sakura-dark.css';
import { SEO } from "astro-seo";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <SEO
    charset="UTF-8"
    title={title}
    extend={{
      link: [{ rel: "icon", href: "/favicon.svg", type: "image/svg+xml" }],
      meta: [
        { name: "generator", content: Astro.generator },
        { name: "viewport", content: "width=device-width" },
      ],
    }}
  />
  <body>
    <slot />
  </body>
</html>
